

#conteneurSimulation{
		max-width:1240px;
		margin:0 auto;
}


#menuSimulation{
	position:relative;
	width:100%;
	height:92px;
	list-style-type: none;
	background-color:black;
	color: white;
}



#valCapteurs{
	font-size:12px;
}


#simulation{
	position:relative;
	margin:0;
	padding:0;
	width: 100%;
}
#canvasSimulation{
	display:block;
	width: 100%;
}


#menuSelection{
	height:92px;

}

#nomSelection{
	min-width:64px;

}

#boutonRotation{
	border:2px;
	border-style:solid;
	border-radius:3px;
	border-color:white;
	padding:6px;
	height:80px;
	width:80px;
	background:none;
	
}

#boutonRotation:hover{
	
	background:rgb(140, 135, 140);
}


#changementTouches{
	padding:0;
	height:100%;
}

.boutonSelection{
	width:32px;
	height:32px;

}
.boutonSelectionTouche{
	background:rgb(30,30,30);
	color:white;
	text-align:center;
	width:36px;
	height:36px;
	border-radius:4px;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto auto auto;
  padding: 0;
  height:100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.2);
}